<div class="sidebar sticky">
  {% if site.author %}
    {% include author-profile.html %}
  {% endif %}

  {% if site.sidebar.nav %}
    <nav class="nav__list">
      {% for item in site.data.navigation %}
        <a href="{{ item.url | relative_url }}" class="nav__item{% if page.url == item.url %} active{% endif %}">
          {{ item.title }}
        </a>
      {% endfor %}
    </nav>
  {% endif %}

  {% if site.data.ui-text[site.lang].recent_posts %}
    <h3 class="archive__subtitle">{{ site.data.ui-text[site.lang].recent_posts }}</h3>
  {% else %}
    <h3 class="archive__subtitle">最近の投稿</h3>
  {% endif %}

  <ul class="archive__list">
    {% for post in site.posts limit:5 %}
      <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

  {% if site.github_username %}
    <p>
      <a href="https://github.com/{{ site.github_username }}">
        GitHub プロフィール
      </a>
    </p>
  {% endif %}
</div>
